h1{
    text-align: center;
    font-family: "Lucida Console", monospace;
    padding-top: 70px;
    color:rgb(0, 0, 0);
}

p{
    text-align: center;
    font-family: "Lucida Console", monospace;
    padding-bottom: 70px;
    color:rgb(0, 0, 0);
    font-size: 14px;
}

mark{
    background-color:lawngreen;
    color:black;
}

.alignRight {
    text-align: right;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

tr, td {
    margin: 0px;
    border: none;
    padding: 0px;
    border-collapse: collapse;
}

table {
    font-family: "Lucida Console", monospace;
    font-size: 14px;
    margin: 0px;
    border: none;
    padding: 0px;
    border-collapse: collapse;
}